##  BUSINESS PROBLEM

Your company now sees all the big companies creating original video content and they want to get in on the fun. They have decided to create a new movie studio, but they donâ€™t know anything about creating movies. You are charged with exploring what types of films are currently doing the best at the box office. You must then translate those findings into actionable insights that the head of your company's new movie studio can use to help decide what type of films to create.

##  AIM AND GOALS

The aim of this analysis is to identify the key characteristics of successful films both financially and critically  and to provide data driven recommendations that will guide the company's new movie studio in creating profitable and appealing content. This includes examining factors such as genre performance, budget efficiency, audience and critic sentiment, and seasonal trends to uncover what truly drives box office success. 
- To identify the characteristics of successful films  and provide data-driven recommendations for creating profitable and appealing content.
- Identify Profitable Film Types by finding which genres, budgets, or production patterns lead to high profits.
- Understand Genre Performance by determining which genres consistently perform well in revenue and reviews.
- Evaluating the Impact of Budget on Success by understanding if high-budget films always perform better.
- Analyze Audience Sentiment and Engagement by knowing what audiences love based on ratings, reviews, and popularity.
- Critic vs Audience Preference achieved by checking if critically acclaimed movies align with audience favorites.
- Find Seasonal or Time-Based Trends and if release timing affects success.
- Assess Studio Competitors and understanding what established studios are doing right.
- Make Actionable Recommendations and Provide specific guidance on what films to make.

### 1. IMPORTING LIBRARIES,LOADING THE DATAS AND UNDERSTANDING THE DATA.

In [90]:
#Importing the libraries
import pandas as pd 
import sqlite3
import matplotlib.pyplot as plt
import seaborn as sns

In [91]:
movies_finance = pd.read_csv("Data/bom.movie_gross.csv")
movies_finance.head()

,title,studio,domestic_gross,foreign_gross,year
0,Toy Story 3,BV,415000000.0,652000000,2010
1,Alice in Wonderland (2010),BV,334200000.0,691300000,2010
2,Harry Potter and the Deathly Hallows Part 1,WB,296000000.0,664300000,2010
3,Inception,WB,292600000.0,535700000,2010
4,Shrek Forever After,P/DW,238700000.0,513900000,2010

- The dataset above represents movies financial performance information

In [92]:
movies_details = pd.read_csv("Data/rt.movie_info.tsv", sep="\t")
movies_details.head(n=3)

,id,synopsis,rating,genre,director,writer,theater_date,dvd_date,currency,box_office,runtime,studio
0,1,"This gritty, fast-paced, and innovative police...",R,Action and Adventure|Classics|Drama,William Friedkin,Ernest Tidyman,"Oct 9, 1971","Sep 25, 2001",NaN,NaN,104 minutes,NaN
1,3,"New York City, not-too-distant-future: Eric Pa...",R,Drama|Science Fiction and Fantasy,David Cronenberg,David Cronenberg|Don DeLillo,"Aug 17, 2012","Jan 1, 2013",$,"600,000",108 minutes,Entertainment One
2,5,Illeana Douglas delivers a superb performance ...,R,Drama|Musical and Performing Arts,Allison Anders,Allison Anders,"Sep 13, 1996","Apr 18, 2000",NaN,NaN,116 minutes,NaN

- The above dataset is more about descriptive and release information like who made the movie, what it's about, how long it is and when it came out.

In [93]:
critics_review = pd.read_csv("Data/rt.reviews.tsv", sep="\t",encoding='iso-8859-1')
critics_review.head()

,id,review,rating,fresh,critic,top_critic,publisher,date
0,3,A distinctly gallows take on contemporary fina...,3/5,fresh,PJ Nabarro,0,Patrick Nabarro,"November 10, 2018"
1,3,It's an allegory in search of a meaning that n...,NaN,rotten,Annalee Newitz,0,io9.com,"May 23, 2018"
2,3,... life lived in a bubble in financial dealin...,NaN,fresh,Sean Axmaker,0,Stream on Demand,"January 4, 2018"
3,3,Continuing along a line introduced in last yea...,NaN,fresh,Daniel Kasman,0,MUBI,"November 16, 2017"
4,3,... a perverse twist on neorealism...,NaN,fresh,NaN,0,Cinema Scope,"October 12, 2017"

- This dataset is about how critics reviewed the movies,What they wrote ,How they rated it (scores),Whether they liked it or not (fresh/rotten)and where the review came from and date.

In [94]:
audience_rating = pd.read_csv("Data/tmdb.movies.csv")
audience_rating.head()

,Unnamed: 0,genre_ids,id,original_language,original_title,popularity,release_date,title,vote_average,vote_count
0,0,"[12, 14, 10751]",12444,en,Harry Potter and the Deathly Hallows: Part 1,33.533,2010-11-19,Harry Potter and the Deathly Hallows: Part 1,7.7,10788
1,1,"[14, 12, 16, 10751]",10191,en,How to Train Your Dragon,28.734,2010-03-26,How to Train Your Dragon,7.7,7610
2,2,"[12, 28, 878]",10138,en,Iron Man 2,28.515,2010-05-07,Iron Man 2,6.8,12368
3,3,"[16, 35, 10751]",862,en,Toy Story,28.005,1995-11-22,Toy Story,7.9,10174
4,4,"[28, 878, 12]",27205,en,Inception,27.920,2010-07-16,Inception,8.3,22186

- This dataset is about how audiences rate and interact with movies

In [95]:
budgets = pd.read_csv("Data/tn.movie_budgets.csv")
budgets.head()

,id,release_date,movie,production_budget,domestic_gross,worldwide_gross
0,1,"Dec 18, 2009",Avatar,"$425,000,000","$760,507,625","$2,776,345,279"
1,2,"May 20, 2011",Pirates of the Caribbean: On Stranger Tides,"$410,600,000","$241,063,875","$1,045,663,875"
2,3,"Jun 7, 2019",Dark Phoenix,"$350,000,000","$42,762,350","$149,762,350"
3,4,"May 1, 2015",Avengers: Age of Ultron,"$330,600,000","$459,005,868","$1,403,013,963"
4,5,"Dec 15, 2017",Star Wars Ep. VIII: The Last Jedi,"$317,000,000","$620,181,382","$1,316,721,747"

- This dataset is all about cost vs profit

In [133]:
#Viewing the available data in the database
# Connect to the database
conn = sqlite3.connect('Desktop/Phase 2 project/im.db')

# Find all table names
tables = pd.read_sql("SELECT name FROM sqlite_master WHERE type='table';", conn)
tables

OperationalError: unable to open database file

The above results shows all the tables inside im.db.

### 2. CLEANING THE DATA

##### 1) movies_finance

In [97]:
movies_finance.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3387 entries, 0 to 3386
Data columns (total 5 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   title           3387 non-null   object
 1   studio          3382 non-null   object
 2   domestic_gross  3359 non-null   float64
 3   foreign_gross   2037 non-null   object
 4   year            3387 non-null   int64
dtypes: float64(1), int64(1), object(3)
memory usage: 132.4+ KB

In [98]:
#Filling the missing values with "Unknown"
movies_finance["studio"] = movies_finance["studio"].fillna("Unknown")

In [99]:
#Filling the missing value with 0 as a placeholder
movies_finance["domestic_gross"]= movies_finance["domestic_gross"].fillna(0)

In [100]:
#Filling the missing value with 0 as a placeholder
movies_finance["foreign_gross"] = movies_finance["foreign_gross"].fillna(0).astype(str)

In [101]:
# Remove commas and converting to float
movies_finance["foreign_gross"] = movies_finance["foreign_gross"].str.replace(',', '').astype('float64')

In [102]:
#Veryfying the changes have been implemented
movies_finance.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3387 entries, 0 to 3386
Data columns (total 5 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   title           3387 non-null   object
 1   studio          3387 non-null   object
 2   domestic_gross  3387 non-null   float64
 3   foreign_gross   3387 non-null   float64
 4   year            3387 non-null   int64
dtypes: float64(2), int64(1), object(2)
memory usage: 132.4+ KB

##### 2) movies_details

In [103]:
movies_details.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1560 entries, 0 to 1559
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   id            1560 non-null   int64
 1   synopsis      1498 non-null   object
 2   rating        1557 non-null   object
 3   genre         1552 non-null   object
 4   director      1361 non-null   object
 5   writer        1111 non-null   object
 6   theater_date  1201 non-null   object
 7   dvd_date      1201 non-null   object
 8   currency      340 non-null    object
 9   box_office    340 non-null    object
 10  runtime       1530 non-null   object
 11  studio        494 non-null    object
dtypes: int64(1), object(11)
memory usage: 146.4+ KB

In [104]:
movies_details.head()

,id,synopsis,rating,genre,director,writer,theater_date,dvd_date,currency,box_office,runtime,studio
0,1,"This gritty, fast-paced, and innovative police...",R,Action and Adventure|Classics|Drama,William Friedkin,Ernest Tidyman,"Oct 9, 1971","Sep 25, 2001",NaN,NaN,104 minutes,NaN
1,3,"New York City, not-too-distant-future: Eric Pa...",R,Drama|Science Fiction and Fantasy,David Cronenberg,David Cronenberg|Don DeLillo,"Aug 17, 2012","Jan 1, 2013",$,"600,000",108 minutes,Entertainment One
2,5,Illeana Douglas delivers a superb performance ...,R,Drama|Musical and Performing Arts,Allison Anders,Allison Anders,"Sep 13, 1996","Apr 18, 2000",NaN,NaN,116 minutes,NaN
3,6,Michael Douglas runs afoul of a treacherous su...,R,Drama|Mystery and Suspense,Barry Levinson,Paul Attanasio|Michael Crichton,"Dec 9, 1994","Aug 27, 1997",NaN,NaN,128 minutes,NaN
4,7,NaN,NR,Drama|Romance,Rodney Bennett,Giles Cooper,NaN,NaN,NaN,NaN,200 minutes,NaN

In [105]:
#Filling synopsis,rating,genre,director writer and studio with "Unknown"
columns_to_fill = ['synopsis', 'rating', 'genre', 'director', 'writer', 'studio']

for column in columns_to_fill:
    movies_details[column] = movies_details[column].fillna("Unknown")

In [106]:
# Dropping the Currency and box_office column 
movies_details = movies_details.drop(columns=["currency","box_office"])

In [107]:
# Fill missing values in 'runtime' with the mode (the most frequent value)
movies_details['runtime'] = movies_details['runtime'].fillna(movies_details['runtime'].mode()[0])

In [108]:
#Filling the missing values with a placeholder date 
placeholder_date = 'Jan 1, 1900' 
movies_details['theater_date'] = movies_details['theater_date'].fillna(placeholder_date)
movies_details['dvd_date'] = movies_details['dvd_date'].fillna(placeholder_date)

In [109]:
movies_details['rating'].value_counts()

rating
R          521
NR         503
PG         240
PG-13      235
G           57
Unknown      3
NC17         1
Name: count, dtype: int64

In [110]:
# Converting `theater_date` and `dvd_date` to datetime
movies_details['theater_date'] = pd.to_datetime(movies_details['theater_date'], errors='coerce')
movies_details['dvd_date'] = pd.to_datetime(movies_details['dvd_date'], errors='coerce')

In [111]:
# Converting `runtime` to numeric after removing characters like, " minutes")
movies_details['runtime'] = movies_details['runtime'].replace({' minutes': '', ',': ''}, regex=True)
movies_details['runtime'] = pd.to_numeric(movies_details['runtime'], errors='coerce')

In [112]:
movies_details.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1560 entries, 0 to 1559
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   id            1560 non-null   int64
 1   synopsis      1560 non-null   object
 2   rating        1560 non-null   object
 3   genre         1560 non-null   object
 4   director      1560 non-null   object
 5   writer        1560 non-null   object
 6   theater_date  1560 non-null   datetime64[ns]
 7   dvd_date      1560 non-null   datetime64[ns]
 8   runtime       1560 non-null   int64
 9   studio        1560 non-null   object
dtypes: datetime64[ns](2), int64(2), object(6)
memory usage: 122.0+ KB

##### 3) critics_review

In [113]:
critics_review.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 54432 entries, 0 to 54431
Data columns (total 8 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   id          54432 non-null  int64
 1   review      48869 non-null  object
 2   rating      40915 non-null  object
 3   fresh       54432 non-null  object
 4   critic      51710 non-null  object
 5   top_critic  54432 non-null  int64
 6   publisher   54123 non-null  object
 7   date        54432 non-null  object
dtypes: int64(2), object(6)
memory usage: 3.3+ MB

In [114]:
critics_review.head()

,id,review,rating,fresh,critic,top_critic,publisher,date
0,3,A distinctly gallows take on contemporary fina...,3/5,fresh,PJ Nabarro,0,Patrick Nabarro,"November 10, 2018"
1,3,It's an allegory in search of a meaning that n...,NaN,rotten,Annalee Newitz,0,io9.com,"May 23, 2018"
2,3,... life lived in a bubble in financial dealin...,NaN,fresh,Sean Axmaker,0,Stream on Demand,"January 4, 2018"
3,3,Continuing along a line introduced in last yea...,NaN,fresh,Daniel Kasman,0,MUBI,"November 16, 2017"
4,3,... a perverse twist on neorealism...,NaN,fresh,NaN,0,Cinema Scope,"October 12, 2017"

In [115]:
#filling the review column with "not given" since we do not know the review
critics_review["review"] = critics_review["review"].fillna("Not given")

In [116]:
critics_review["rating"]

0          3/5
1          NaN
2          NaN
3          NaN
4          NaN
         ...
54427      NaN
54428      1/5
54429      2/5
54430    2.5/5
54431      3/5
Name: rating, Length: 54432, dtype: object

In [117]:
#Filling critic column with unknon
critics_review["critic"] = critics_review["critic"].fillna("Unknown")
critics_review["publisher"] = critics_review["publisher"].fillna("Unknown")

In [118]:
critics_review["rating"].unique()

array(['3/5', nan, 'C', '2/5', 'B-', '2/4', 'B', '3/4', '4/5', '4/4',
       '6/10', '1/4', '8', '2.5/4', '4/10', '2.0/5', '3/10', '7/10', 'A-',
       '5/5', 'F', '3.5/4', 'D+', '1.5/4', '3.5/5', '8/10', 'B+', '9/10',
       '2.5/5', '7.5/10', '5.5/10', 'C-', '1.5/5', '1/5', '5/10', 'C+',
       '0/5', '6', '0.5/4', 'D', '3.1/5', '3/6', '4.5/5', '0/4', '2/10',
       'D-', '7', '1/10', '3', 'A+', 'A', '4.0/4', '9.5/10', '2.5',
       '2.1/2', '6.5/10', '3.7/5', '8.4/10', '9', '1', '7.2/10', '2.2/5',
       '0.5/10', '5', '0', '2', '4.5', '7.7', '5.0/5', '8.5/10', '3.0/5',
       '0.5/5', '1.5/10', '3.0/4', '2.3/10', '4.5/10', '4/6', '3.5',
       '8.6/10', '6/8', '2.0/4', '2.7', '4.2/10', '5.8', '4', '7.1/10',
       '5/4', 'N', '3.5/10', '5.8/10', 'R', '4.0/5', '0/10', '5.0/10',
       '5.9/10', '2.4/5', '1.9/5', '4.9', '7.4/10', '1.5', '2.3/4',
       '8.8/10', '4.0/10', '2.2', '3.8/10', '6.8/10', '7.3', '7.0/10',
       '3.2', '4.2', '8.4', '5.5/5', '6.3/10', '7.6/10', '8.1/10',
       '3.6/5', '2/6', '7.7/10', '1.8', '8.9/10', '8.9', '8.2/10',
       '8.3/10', '2.6/6', '4.1/10', '2.5/10', 'F+', '6.0/10', '1.0/4',
       '7.9/10', '8.7/10', '4.3/10', '9.6/10', '9.0/10', '4.0', '1.7',
       '7.9', '6.7', '8.0/10', '9.2/10', '5.2', '5.9', '3.7', '4.7',
       '6.2/10', '1/6', '8.2', '2.6/5', '3.4', '9.7', '3.3/5', '3.8/5',
       '1/2', '7.4', '4.8', '1.6/5', '2/2', '1-5', '1.0', '4.3/5', '5/6',
       '9.2', '2.7/5', '4.9/10', '3.0', '3.1', '7.8/10', 'F-', '2.3/5',
       '3.0/10', '3/2', '7.8', '4.2/5', '9.0', '7.3/10', '4.4/5',
       '6.9/10', '0/6', 'T', '6.2', '3.3', '9.8', '8.5', '1.0/5', '4.1',
       '7.1', '3 1/2'], dtype=object)

##### 4) audience_rating

In [119]:
audience_rating.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26517 entries, 0 to 26516
Data columns (total 10 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Unnamed: 0         26517 non-null  int64
 1   genre_ids          26517 non-null  object
 2   id                 26517 non-null  int64
 3   original_language  26517 non-null  object
 4   original_title     26517 non-null  object
 5   popularity         26517 non-null  float64
 6   release_date       26517 non-null  object
 7   title              26517 non-null  object
 8   vote_average       26517 non-null  float64
 9   vote_count         26517 non-null  int64
dtypes: float64(2), int64(3), object(5)
memory usage: 2.0+ MB

In [120]:
audience_rating["original_language"].unique()

array(['en', 'nl', 'es', 'ja', 'sv', 'de', 'fr', 'cn', 'it', 'ru', 'zh',
       'hi', 'no', 'ko', 'da', 'fi', 'pl', 'te', 'hu', 'tr', 'pt', 'he',
       'fa', 'th', 'cs', 'et', 'tl', 'lt', 'xx', 'bs', 'ar', 'is', 'el',
       'mr', 'hr', 'ro', 'sr', 'uk', 'nb', 'hz', 'ca', 'bg', 'sl', 'lv',
       'si', 'ab', 'ta', 'bo', 'id', 'sq', 'bn', 'gu', 'lo', 'ne', 'kk',
       'hy', 'ps', 'kn', 'vi', 'ku', 'ka', 'ml', 'ur', 'mi', 'eu', 'sn',
       'cy', 'ha', 'ky', 'yi', 'pa', 'xh', 'cr', 'sw', 'af', 'dz'],
      dtype=object)

In [121]:
#Changing the release_date to datetime
audience_rating["release_date"] = pd.to_datetime(audience_rating["release_date"])

In [122]:
#Changing the original_language column to category 
audience_rating["original_language"] = audience_rating["original_language"].astype('category')

In [123]:
audience_rating.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26517 entries, 0 to 26516
Data columns (total 10 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Unnamed: 0         26517 non-null  int64
 1   genre_ids          26517 non-null  object
 2   id                 26517 non-null  int64
 3   original_language  26517 non-null  category
 4   original_title     26517 non-null  object
 5   popularity         26517 non-null  float64
 6   release_date       26517 non-null  datetime64[ns]
 7   title              26517 non-null  object
 8   vote_average       26517 non-null  float64
 9   vote_count         26517 non-null  int64
dtypes: category(1), datetime64[ns](1), float64(2), int64(3), object(3)
memory usage: 1.8+ MB

##### 5)budgets

In [124]:
budgets.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5782 entries, 0 to 5781
Data columns (total 6 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   id                 5782 non-null   int64
 1   release_date       5782 non-null   object
 2   movie              5782 non-null   object
 3   production_budget  5782 non-null   object
 4   domestic_gross     5782 non-null   object
 5   worldwide_gross    5782 non-null   object
dtypes: int64(1), object(5)
memory usage: 271.2+ KB

In [125]:
# Remove $ and commas
budgets['production_budget'] = budgets['production_budget'].str.replace('$', '', regex=False)
budgets['production_budget'] = budgets['production_budget'].str.replace(',', '', regex=False)

# converting to integer
budgets['production_budget'] = budgets['production_budget'].astype(int)

In [126]:
# Changing the release_date to datetime format
budgets["release_date"] = pd.to_datetime(budgets["release_date"])

In [127]:
# Remove $ and commas
budgets["domestic_gross"] = budgets["domestic_gross"].str.replace('$', '', regex=False)
budgets["domestic_gross"] = budgets["domestic_gross"].str.replace(',', '', regex=False)

# converting to integer
budgets["domestic_gross"] = budgets["domestic_gross"].astype(int)

In [128]:
# Remove $ and commas
budgets["worldwide_gross"] = budgets["worldwide_gross"].str.replace('$', '', regex=False)
budgets["worldwide_gross"] = budgets["worldwide_gross"].str.replace(',', '', regex=False)

# converting to integer
budgets["worldwide_gross"] = budgets["worldwide_gross"].astype(int)

In [129]:
#Confirming the cahnges 
budgets.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5782 entries, 0 to 5781
Data columns (total 6 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   id                 5782 non-null   int64
 1   release_date       5782 non-null   datetime64[ns]
 2   movie              5782 non-null   object
 3   production_budget  5782 non-null   int64
 4   domestic_gross     5782 non-null   int64
 5   worldwide_gross    5782 non-null   int64
dtypes: datetime64[ns](1), int64(4), object(1)
memory usage: 271.2+ KB

##### 6) other tables

In [130]:
tables

Empty DataFrame
Columns: [name]
Index: []

In [131]:
movie_basics = pd.read_sql("SELECT * FROM movie_basics"
,conn)

DatabaseError: Execution failed on sql 'SELECT * FROM movie_basics': no such table: movie_basics

In [ ]:
movie_basics.head()

In [ ]:
 directors = pd.read_sql("SELECT * FROM directors"
,conn)
directors

In [ ]:
known_for = pd.read_sql(" SELECT * FROM known_for",conn)
known_for.head()

In [ ]:
movie_akas = pd.read_sql(" SELECT * FROM movie_akas",conn)
movie_akas.head()

In [ ]:
movie_ratings = pd.read_sql(" SELECT * FROM movie_ratings",conn)
movie_ratings.head()

In [ ]:
persons = pd.read_sql(" SELECT * FROM persons",conn)
persons.head()

In [ ]:
principals = pd.read_sql(" SELECT * FROM principals",conn)
principals.head()

In [ ]:
writers = pd.read_sql(" SELECT * FROM writers",conn)
writers

### MERGING

In [ ]:
movie_person_roles = pd.merge(writers, directors, on=['movie_id', 'person_id'], how='inner')
movie_person_roles

In [ ]:
movie_complete_details = pd.merge(movie_ratings, movie_basics, on='movie_id', how='left')
movie_complete_details

### ANALYSIS

Understand Genre Performance
Identify Profitable Film 
Evaluate the Impact of Budget on Success
Analyze Audience Sentiment and Engagement
Find Seasonal or Time-Based Trends

### 1)Understand Genre Performance

In [ ]:
# Grouping by genre (from genre_ids) and calculating average vote and vote count
data = audience_rating.groupby('genre_ids').agg(
    average_vote=('vote_average', 'mean'),
    total_votes=('vote_count', 'sum')
).reset_index()
data

In [ ]:
# Grouping by genre and calculating profit margin
budgets['profit_margin'] = (budgets['worldwide_gross'] - budgets['production_budget']) / budgets['production_budget']

budgets.groupby('release_date').agg(
    average_profit_margin=('profit_margin', 'mean')
).reset_index()

In [ ]:
# Calculate profit for each film
budgets['profit'] = budgets['worldwide_gross'] - budgets['production_budget']

# Optionally, you can filter or sort by profit to identify the most profitable films
profitable_films = budgets.sort_values(by='profit', ascending=False)

# Display the most profitable films
profitable_films[ 'profit'].head()

In [ ]:
# Group by calculate average profit by movie
budgets.groupby('release_date').agg(
    average_profit=('profit', 'mean'),
    total_profit=('profit', 'sum'),
     movie_names=('movie', lambda x: ', '.join(x))
).reset_index().sort_values(by='average_profit', ascending=False)

In [ ]:
# Convert 'release_date' to datetime if it's not already
budgets['release_date'] = pd.to_datetime(budgets['release_date'])

# Create a 'month_year' column by extracting year and month
budgets['month_year'] = budgets['release_date'].dt.to_period('M')

# Group by 'month_year' and calculate the average profit
monthly_profit = budgets.groupby('month_year').agg(
    average_profit=('profit', 'mean')
).reset_index()

# Convert 'month_year' to a timestamp for plotting
monthly_profit['month_year'] = monthly_profit['month_year'].dt.to_timestamp()

# Plotting the data
plt.figure(figsize=(10, 6))
plt.plot(monthly_profit['month_year'], monthly_profit['average_profit'], marker='o')
plt.title('Average Profit by Release Month')
plt.xlabel('Month')
plt.ylabel('Average Profit')
plt.tight_layout()  
plt.show()

- Find Seasonal or Time-Based Trends

In [ ]:
# Count number of films released in each date
budgets.groupby('release_date').agg(
    films_released=('movie', 'count')
).reset_index().sort_values(by='films_released', ascending=False)

In [ ]:
# Calculate profit for each film
budgets['profit'] = budgets['worldwide_gross'] - budgets['production_budget']
budgets['profit']

In [ ]:
# Plotting production budget vs profit
plt.figure(figsize=(10, 6))
plt.scatter(budgets['production_budget'], budgets['profit'], alpha=0.5)
plt.title('Production Budget vs Profit')
plt.xlabel('Production Budget ($)')
plt.ylabel('Profit ($)')
#plt.xscale('log')  
#plt.yscale('log')  
plt.grid(True)
plt.show()

In [ ]:
budgets['release_month'] = budgets['release_date'].dt.month
average_gross_by_year = budgets.groupby('release_year')[['domestic_gross', 'worldwide_gross']].mean()
print(average_gross_by_year)

In [ ]:
# 3. Production budget vs. gross earnings
plt.figure(figsize=(10, 6))
plt.scatter(budgets['production_budget'], budgets['domestic_gross'], label='Domestic Gross', color='blue')
plt.scatter(budgets['production_budget'],budgets['worldwide_gross'], label='Worldwide Gross', color='red')
plt.xlabel('Production Budget')
plt.ylabel('Gross Earnings')
plt.title('Production Budget vs Gross Earnings')
plt.legend()
plt.show()

In [ ]:
audience_rating.head()

In [ ]:
# Sort the data by popularity and get the top 10 most popular movies
top_popular_movies = audience_rating.sort_values(by='popularity', ascending=False).head(10)
print(top_popular_movies[['title', 'popularity']])

In [ ]:
# Plot the distribution of average ratings vote_average
plt.figure(figsize=(10, 6))
sns.histplot(audience_rating['vote_average'], kde=True, bins=20, color='blue')
plt.title('Distribution of Average Ratings')
plt.xlabel('Average Rating')
plt.ylabel('Frequency')
plt.show()

In [ ]:
# The top 10 highest rated movies
top_rated_movies = audience_rating.sort_values(by='vote_average', ascending=False).head(10)
print(top_rated_movies[['title', 'vote_average']])

In [ ]:
# Convert release_date to datetime format
audience_rating['release_date'] = pd.to_datetime(audience_rating['release_date'])

# Extract the year from the release date
audience_rating['release_year'] = audience_rating['release_date'].dt.year

# Count the number of movies released each year
movies_per_year = audience_rating['release_year'].value_counts().sort_index()

# Plot the number of movies released over the years
plt.figure(figsize=(12, 6))
sns.lineplot(x=movies_per_year.index, y=movies_per_year.values, color='red')
plt.title('Number of Movies Released Over the Years')
plt.xlabel('Year')
plt.ylabel('Number of Movies')
plt.show()

- Analyze Audience Sentiment and Engagement

In [ ]:
critics_review.head()

In [ ]:
audience_rating.head()

In [ ]:
movie_basics['genres'] = movie_basics['genres'].str.split(',')
movie_basics_exploded = movie_basics.explode('genres')
movie_basics_exploded['genres'] = movie_basics_exploded['genres'].str.strip()

# Merging movie_basics with movie_ratings 
merged_data = pd.merge(movie_basics_exploded, movie_ratings, on='movie_id', how='left')

# Count the number of occurrences of each genre
genre_counts = merged_data['genres'].value_counts()

# Plot the top 10 most common genres
genre_counts.head(10).plot(kind='bar', figsize=(10,6), title='Top 10 Most Common Movie Genres')
plt.ylabel('Number of Movies')
plt.show()

## Average Rating by Genre

In [ ]:
#Rating Genre 
genre_sentiment = movie_basics.groupby('genres')['averagerating'].mean().sort_values(ascending=False)
genre_sentiment.plot(kind='bar', figsize=(12,6), title='Average Rating by Genre')
plt.ylabel('Average Rating')
plt.show()
()

## Identify Profitable Films

## Analyze Audience Sentiment and Engagement